$mainFont: 30px;
$mainColor: #c4c7cc;
$secondaryColor: #bcdaf7;
$blueColor:rgb(54, 169, 225);

$burgerBreakpoint: 768px;
$burgerActiveColor:red;
$burgerColor:black;

// $breakpoin1400: 1339.98px;
// $breakpoin992: 991.98px;
// $breakpoin768: 767.98px;
// $breakpoin480: 479.98px;

$breakpoin2560: 2560px;
$breakpoin1920: 1920px;
$breakpoin1440: 1440px;
$breakpoin1024: 1024px;
$breakpoin768: 768px;
$breakpoin480: 480px;
$breakpoin360: 360px;

.container{
  @media screen and (max-width: $breakpoin2560) {
    max-width: 2560px;}
  @media screen and (max-width: $breakpoin1920) {
    max-width: 1920px;}
  @media screen and (max-width: $breakpoin1440) {
    max-width: 1440px;}
  @media (max-width: $breakpoin1024) {
    max-width: 1024px;}
  @media (max-width: $breakpoin768) {
      max-width: 100%;}
  @media (max-width: $breakpoin480) {
      max-width: none;}
}
